html, body {
    min-height: 100% !important;
    height: auto !important;
    /* height: 100% !important; */
}

body {
    display: flex !important;
    flex-direction: column !important;
    background-color: steelblue;
    color: whitesmoke;
}

.content {
    flex: 1 0 auto !important;
}

footer {
    flex-shrink: 0 !important;
    padding: 1rem 1.5rem 1rem !important;
    color: black !important;
    background: yellow !important;
}

.book-title {
    font-weight: bold;
    color: pink;
    font-size: 30px;
}

.book-author {
    font-weight: bold;
    color: hotpink;
    font-size: 30px;
    padding-left: 10px;
}