<!-- main_app/templates/base.html -->

{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Bookmark</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	</head>

	<body>
		<div class="columns is-flex-direction-column is-fullheight-100vh">
			<header class="column is-narrow">
				<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
					
					<div class="navbar-brand">
						<a class="navbar-item" href="/"><img src="{% static 'bookmark_logo.png' %}"></a>
						<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
						</a>
					</div>
					
					<div id="navbarBasicExample" class="navbar-menu">
						<div class="navbar-start">
							<a class="navbar-item" href="/">Home</a>
							<a class="navbar-item" href="/books">Book List</a>

							<!-- Hide user-specific navbar elements if the user is not logged in -->
							{% if user.is_authenticated %}
								<a class="navbar-item" href="/user/{{ user.username }}">Profile</a>
								<a class="navbar-item" href="/bookshelf">Bookshelf</a>
								<a class="navbar-item" href="/bookclub">Book Club</a>
							{% endif %}

							<a class="navbar-item" href="/search">Search</a>
							<div class="navbar-item has-dropdown is-hoverable">
								<a class="navbar-link">More</a>
								<div class="navbar-dropdown">
									<!-- Hide adding a new book if user is not logged in -->
									{% if user.is_authenticated %}
										<a class="navbar-item" href="/books/create">Add a new book</a>
									{% endif %}
									<hr class="navbar-divider">
									<a class="navbar-item">Report an issue</a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="navbar-end">
						<div class="navbar-item">
							<div class="buttons">
								<!-- Button visibility dependant on whether the user is logged in or not -->
								{% if user.is_authenticated %}
								<a class="button is-danger" href="/logout">
									<strong>Logout</strong></a>
								{% else %}	
									<a class="button is-primary" href="/signup">
										<strong>Sign up</strong></a>
										<a class="button is-light" href="/login">
											Log in</a>
								{% endif %}
							</div>
						</div>
					</div>
				</nav>
			</header>			
		</div>
		
		<div class="container">
			<div class="column">
				<div class="content">
					{% block content %}
					<p>stuff</p>
					{% endblock %}
				</div>
			</div>
		</div>

		<footer class="footer has-background-warning column is-narrow">
			footer!
		</footer>

	</body>
</html>
