<!-- main_app/templates/books/reviews.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1>REVIEWS VIEW</h1>

    <p>Title: {{ book.title }}<p>
    <p>Author: {{ book.author }}<p>
    <p>Publication: {{ book.publication }}<p>
    <p>ISBN: {{ book.isbn }}<p>
    <p>Genre: {{ book.genre }}<p>
    <hr />
    <p>Description: {{ book.description }}</p>
    <hr />

    <h3>Reviews go here</h3>

    {% for review in reviews %}
        <p><strong>{{ review.subject }} by
            <a href="/user/{{ review.owner }}">
                {{ review.owner }}</a></strong>
            <small><i>(posted {{ review.created }})</small></i><br />
            {{ review.text }}
        </p>
        {% comment %} {% if user.id == review.owner_id %}
            <a class="button is-success is-responsive"
                href="{% url "review_update" book.id %}">
                Edit</a>
            <a class="button is-danger is-responsive"
                href="{% url "review_delete" book.id %}">
                Delete</a>
        {% endif %} {% endcomment %}
        <p></hr /></p>

    {% empty %}
        <p>No reviews for book</p>
    {% endfor %}

{% endblock %}
