<!-- main_app/templates/index.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

        <p>Title: {{ book.title }}<p>
        <p>Author: {{ book.author }}<p>
        <p>Publication: {{ book.publication }}<p>
        <p>ISBN: {{ book.isbn }}<p>
        <p>Genre: {{ book.genre }}<p>
        <hr />
        <p>Description: {{ book.description }}</p>
        <hr />
        <a class="button is-success is-responsive"
            href="{% url "book_update" book.id %}">
            Update {{ book }}</a>
        <a class="button is-danger is-responsive"
            href="{% url "book_delete" book.id %}">
            <span>Delete {{ book }}</span>
            <span class="icon is-small"><i class="fas fa-times"></i></span>
        </a>

{% endblock %}
